@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    font-family: 'Manrope', sans-serif !important;
}

 
h1{
    font-family: 'VT323', monospace;
}

.line{
    padding-bottom: 3px;
    border-bottom: 3px solid white;
}
 
.avatar{
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 200px;
    max-height: 200px;
}

.vertical-timeline-element-content{
    box-shadow: none !important;
}

.vertical-timeline::before{
    top: unset !important;
}